* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
    color: #212529;
    padding-top: 100px; /* Espaço para a navbar fixa */
}

.navbar-rosa {
    background:
       rgb(255, 141, 151)
}

.navbar-rosa .nav-link,
.navbar-rosa .navbar-brand {
    color: rgb(85, 48, 35);
    font-weight: 500;
    font-family: georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 20px;
    margin-left: 20px;

}

.navbar-rosa .nav-link:hover {
    color:  rgba(227, 221, 211, 0.85);
}

.dropdown-item{
    color:rgba(229, 99, 110, 0.993);
    font-family: georgia, 'Times New Roman', Times, serif;
}

#carrinho {
  margin-right: 30px;
}

.maisvendidos {
    padding: 50px 70px;
}

.promocoesdodia {
    padding: 80px 70px;
}

.beneficios {
    padding: 100px 70px;
}
